{{log model}}
<h1>Welcome {{model.instructor.name}}!</h1>

<p>You're an instructor for {{classCount}} classes.</p>
{{class-list classes=model.classes}}

<div class="instructor__actions">
  {{#round-button onPress=(action 'newClass')}}
    New Class
  {{/round-button}}
</div>

{{modal-new-class isOpen=isNewClassOpen onDone=(action 'onDoneNewClass')}}