{{#modal-dialog title="New Class" isOpen=isOpen}}
  {{#modal-row label="Class Name"}}
      {{input value=newClass.name placeholder="Basket weaving"}} 
  {{/modal-row}}
  {{#modal-row label="Location"}}
      {{item-picker list=dbService.locations humanType="Location" type="location" onPick=(action 'onPickLocation')}} 
  {{/modal-row}}
  {{#modal-row label="Instructor"}}
      {{item-picker list=dbService.instructors humanType="Instructor" type="instructor" onPick=(action 'onPickInstructor')}}
  {{/modal-row}}
  {{#modal-row label="Image"}}
      {{image-picker onPick=(action 'onPickedImage')}}
  {{/modal-row}}
  {{#modal-row label="Class Description"}}
      {{input value=newClass.uniquetext placeholder="In this class, you'll learn all about something awesome, guided by our equally-amazing instructor."}} 
  {{/modal-row}}
  {{#modal-row label="Price In Dollars"}}
      {{input value=newClass.defaultpricecents placeholder="5.00"}} 
  {{/modal-row}}
  <div class="modal-new-class__row">
    {{#round-button onPress=(action 'submitNewClass') class="modal-new-class__submit"}}
      Submit New Class
    {{/round-button}}
  </div>
{{/modal-dialog}}